<div class="separando_aulas">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"  [ngStyle]="{'width': '30%'}">Nome Usuario</label>
          <input [ngStyle]="{'width': '10%'}" name="email" class="form-control"  [(ngModel)]="nomeUsuario">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

      <div *ngIf="nomeUsuario == 'Juan'">
        <h1 >
          O nome do Usuario é: {{nomeUsuario}}
        </h1>
      </div>
</div>