/* You can add global styles to this file, and also import other style files */
.separando_aulas {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 30px;

}

body {
    margin-bottom: 500px;
}